<!DOCTYPE html>
<html>
	<%- include('head'); %>

  <body>
  <%- include('header'); %>
		<nav class="navbar navbar-default">
		  <div class="container-fluid">
			<div class="navbar-header">
			  <a class="navbar-brand" href="/">Matcha</a>
			</div>
			<ul class="nav navbar-nav">
				<li class="active"><a href="/todo">To do list partagée</a></li>	  
				<li><a href="/tchat">Tchat</a></li>
				<li><a href="/logout">Se déconnecter</a></li>
			</ul>
		  </div>
		</nav>
    <div class ="form-group">
	  	<h1><%= title %></h1>
        <h2 class="form-signin-heading">Votre profil</h2>
		
		<form id="profile" class="profile-mail" action="" method="post" onsubmit="return false;">
			<label for="mail" class="sr-only">Votre mail</label>
			<input id="mail" placeholder="Adresse Email" type="email" name="mail" required value=<%= data.mail %> />
			<button class="btn" type="submit" onclick="change_profile(this)">Valider</button>
		</form>
	
		<form id="profile" class="profile-mail" action="" method="post" onsubmit="return false;">
			<label for="firstname" class="sr-only">Votre prénom</label>
			<input id="firstname" type="text" placeholder="Prénom" name="firstname" required  value=<%= data.firstname %> />
			<label for="lastname" class="sr-only">Votre nom de famille</label>
			<input id="lastname" type="text" placeholder="Nom de famille" name="lastname" required  value="<%= data.lastname %>" />
			<button class="btn" type="submit" onclick="change_profile(this)">Valider</button>
		</form>

       
    </div>
	<%- include('footer'); %>
	<script src = "javascripts/profile_client.js"></script>
  </body>
</html>
