<!DOCTYPE html>
<html>
 	<%- include('head'); %>

  <body>
  <%- include('header'); %>

		<nav class="navbar navbar-default">
		  <div class="container-fluid">
			<div class="navbar-header">
			  <a class="navbar-brand" href="/">Matcha</a>
			</div>
			<ul class="nav navbar-nav">
				<li class="active"><a href="/todo">To do list partagée</a></li>	  
				<li><a href="/tchat">Tchat</a></li>
				<li><a href="/logout">Se déconnecter</a></li>
			</ul>
		  </div>
		</nav>
    <div class ="form-group">
	  	<h1><%= title %></h1>
      <h2 class="form-signin-heading">Votre profil</h2>

	  <div id="profile-photos" class="profile" action="" method="post" onsubmit="return false;">
        <label for="photos">Vos photos</label>
		<% for (var i=0, n=data.photos.length; i < n; i++) { %>
		<div class="photo">
			<img src="photos/<%=data.photos[i].image_name %>" onclick="delete_photo(this);" alt="Image de profile" height="50">
			<p>Cliquez sur la photo pour supprimer</p>
		</div>
        <% } %>
		<a href="/profile/add_photo">Ajouter une photo</a>
	  </div>
	  
      <form id="profile-mail" class="profile" action="" method="post" onsubmit="return false;">
        <label for="mail" >Votre mail</label>
        <input id="mail" size="30" placeholder="Adresse Email" type="email" name="mail" required value=<%= data.record.mail %> />
        <button class="btn" type="submit" onclick="change_profile(this)">Valider</button>
      </form>
    
      <form id="profile-name" class="profile" action="" method="post" onsubmit="return false;">
        <label for="firstname">Votre prénom</label>
        <input id="firstname"  size="20" type="text" placeholder="Prénom" name="firstname" required  value=<%= data.record.firstname %> />
        <label for="lastname">Votre nom de famille</label>
        <input id="lastname"  size="30" type="text" placeholder="Nom de famille" name="lastname" required  value="<%= data.record.lastname %>" />
        <button class="btn" type="submit" onclick="change_profile(this)">Valider</button>
      </form>

      <form id="profile-gender" class="profile" action="" method="post" onsubmit="return false;">
        <label for="gender">Votre genre</label>
         <select form="profile-gender" name="gender_id">
         <% for (var i=0, n=data.genders.length; i < n; i++) { %>
          <option value="<%= data.genders[i].id %>" 
          <% if (data.record.gender_id == data.genders[i].id) { %> selected="selected" <% } %> ><%= data.genders[i].description %>     
          </option>
          <% } %>
        </select>
        <button class="btn" type="submit" onclick="change_profile(this)">Valider</button>
      </form>

      <form id="profile-orientation" class="profile" action="" method="post" onsubmit="return false;">
        <label for="orientation">Votre orientation sexuelle</label>
        <select form="profile-orientation" name="orientation_id">
         <% for (var i=0, n=data.orientations.length; i < n; i++) { %>
          <option value="<%= data.orientations[i].id %>" 
           <% if (data.record.orientation_id == data.orientations[i].id) { %> selected="selected" <% } %> ><%= data.orientations[i].description %>
           </option>
          <% } %>
        </select>
        <button class="btn" type="submit" onclick="change_profile(this)">Valider</button>
      </form>

      <form id="profile-bio" class="profile" action="" method="post" onsubmit="return false;">
        <label for="bio">Votre biographie</label>
        <!-- noter le %- ci-dessous qui permet d'afficher le contenu d'un champ  -->
        <textarea id="bio"  rows="5" cols="30" form="profile-bio" placeholder="bio" name="bio" required><%- data.record.bio %></textarea>          
        <button class="btn" type="submit" onclick="change_profile(this)">Valider</button>
      </form>
	  
      <form id="profile-tags" class="profile" action="" method="post" onsubmit="return false;">
        <label for="tags">Vos centres d'intérêt</label>
        <select form="profile-tags" name="tags">
		<% for (var i=0, n=data.tags.length; i < n; i++) { %>
         <option value="<%= data.tags[i].id %>"> 
            <%= data.tags[i].description %>
         </option>
        <% } %>
		</select>
		<!-- TODO gerer les tags
        <button class="btn" type="submit" onclick="change_profile(this)">Valider</button>
		-->
      </form>
      <form id="profile-birthday" class="profile" action="" method="post" onsubmit="return false;">
        <label for="birthday">Votre anniversaire</label>
		<input type="date" name="birthday" value="<%= data.record.birthday %>">
        <button class="btn" type="submit" onclick="change_profile(this)">Valider</button>
      </form>
    </div>
	<%- include('footer'); %>
  <script src = "javascripts/profile_client.js"></script>

  </body>
</html>
