<!DOCTYPE html>
<html>
  	<%- include('head'); %>
	<body>
	<%- include('header'); %>

		<nav class="navbar navbar-default">
		  <div class="container-fluid">
			<div class="navbar-header">
			  <a class="navbar-brand" href="/">Matcha</a>
			</div>
			<ul class="nav navbar-nav">
				<li class="active"><a href="/todo">To do list partagée</a></li>	  
				<li><a href="/tchat">Tchat</a></li>
				<li><a href="/logout">Se déconnecter</a></li>
			</ul>
		  </div>
		</nav>
		<h1><%= title %></h1>
		<p>Bienvenue sur <%= title %></p>
		<div class ="container">
			<h2>Liste des utilisateurs (pour supprimer un utilisateur, cliquez sur son identifiant)</h2>
			<table class="table table-striped">
				<tr>
				<th>Identifiant</th><th>Prénom</th><th>Nom</th><th>Email</th><th>Profile</th><th>Date de création</th>
				</tr>
				<% for (var i in users) { %>
				<tr>
				<% if (users[i].profile == 'ADMIN') { %>
				<td><%=users[i].login%></td>
				<% } else { %>
				<td id='delete_user' onclick ='delete_user(this)'><%=users[i].login%></td>
				<% } %>
				<td><%=users[i].firstname%></td>
				<td><%=users[i].lastname%></td>
				<td><%=users[i].mail%></td>
				<td><%=users[i].profile%></td>
				<td><%=users[i].creation_date%></td>
				</tr>
				<% } %>
			</table>
		</div>
		<script src = "javascripts/delete_user.js"></script>
		<%- include('footer'); %>
	</body>
</html>
